<div class= "row justify-content-center">

    <div class="card m-3 card-list">

        <div class="card-header text-center">
            <%= image_tag ("logo.png")%>
        </div>

        <div class="card-body">
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
        </div>

        <div class="card-footer">
            <p class="card-text">
                <strong>Clarisse</strong>
            </p>
        </div>
    </div>

    <div class="card m-3 card-list">

        <div class="card-header">
            <p class="card-text">
                <strong>Michel</strong>
            </p>
        </div>

        <div class="card-body">
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
        </div>

        <div class="card-footer text-center">
            <%= image_tag ("logo.png")%>
        </div>
    </div>

</div>

<div>


