<h1>Welcome to bed-time-stories,
<%= @user.email %></h1>

<p>
    You have successfully signed up to bed-time-stories,
    your email is: <%= @user.email %>.
    <br>
</p>
<p>
    Thanks for joining and have a greatday!
</p>