<div class="jumbotron img-responsive">
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bed-time-stories</h1>
          <p class="text-white">One night,One story</p>
          <p>
             <%= link_to "Create a story", new_story_path, class: "btn btn-warning btn-lg" %>
          </p>
      </div>
    </div>
  </section>
</div>