<footer class="footer">
        <div class="inner">
          <p class="text-center">Projet for <%= link_to "THP", "http://www.thehackingproject.org", target: "_blank", rel: "alternate" %>, by <%= link_to "Clarisse & Jeremy", "https://img1.picmix.com/output/stamp/normal/9/5/8/4/4859_34369.gif", target: "_blank", rel: "alternate" %></p>
        </div>
</footer>